
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
    background-color: black;
} 

@media only screen and (max-width: 600px) {
 
    canvas {
        width: 100%;
        height: 100vh; 
    }

    #details-panel {
        width: 100%;
        height: auto;
        position: static;
        padding: 10px;
    }

    #solar-system {
        display: block;
    }
}
